- var title = 'Mentu'
- var favicon = 'img/faviconspark.png'
- var lean_sdk = 'http://leancloud.cn/scripts/lib/av-0.5.0.min.js'
- var jQuery = 'lib/jquery/jquery.js'
- var backbone = 'lib/backbone/backbone.js'
- var bootstrap_js = 'lib/bootstrap/js/bootstrap.js'
- var bootstrap_css = 'lib/bootstrap/css/bootstrap.css'

doctype html
html
  head
    title #{title}
    link(href=favicon, rel='shortcut icon', type='image/vnd.microsoft.icon')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href=bootstrap_css, rel='stylesheet')
    block css
  body
    block contents
    script(src=lean_sdk, type='text/javascript')
    script(src=jQuery, type='text/javascript')
    script(src=backbone, type='text/javascript')
    script(src=bootstrap, type='text/javascript')
    block js_includes
    block html_templates