- var lean_sdk = 'http://leancloud.cn/scripts/lib/av-0.5.0.min.js'
- var jQuery = 'lib/jquery/jquery.js'
- var backbone = 'lib/backbone/backbone.js'
- var bootstrap = 'lib/bootstrap/js/bootstrap.js'

script(src=lean_sdk, type='text/javascript')
script(src=lean_sdk, type='text/javascript')
script(src=lean_sdk, type='text/javascript')
script(src=lean_sdk, type='text/javascript')
script(src=lean_sdk, type='text/javascript')
